@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
    @if (_signInManager.IsSignedIn(User))
    {
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">Edit</a>
    }
    
