.login{
    margin-top: 150px;

}
h1{
    color: white;
}


.buttons {
    
    margin:auto;
    display: inline;}
    
 .action_btn {
    width: 200px;
    margin: 0 auto;
    display: inline;}
 .btn-primary{
    margin-right: 5px;

    }
